
body {
	background-image: url("../images/weights.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	text-align: center;
}

.container{
	text-align: center;
}

.navbar{
	position: fixed;
}

h1, h3{
	color: white;
}

.col {
	color: #00FFFF;
	font-size: 22px;
	font-weight: bold;
	clear: both;
	text-align: center;
}
.question {
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

#timer {
	color: white;
	font-size: 40px;
}

.scores{
	color: #00FFFF;
	font-size: 50px;
	font-weight: bold;
}